<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>init-servlet</servlet-name>
        <servlet-class>com.sfeir.sfeircarto.servlet.InitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>init-servlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>display-servlet</servlet-name>
        <servlet-class>com.sfeir.sfeircarto.servlet.DisplayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>display-servlet</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
</web-app>